.main-message-list__content
  .main-message-list__content__history
    .main-message-list__content__history__sender
      = message.user.name
    .main-message-list__content__history__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main-message-list__content__text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
