* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;

  .chat-side {
    width: 300px;
    background-color: #253141;

    .side-header{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;

      &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 20px;
        font-weight: bold;

        &__username{
          color: #ffffff;
          font-size: 16px;
        }
          
        &__menu{
          display: flex;
          list-style: none;

          li{
            margin-left: 5px;

            a{
              color: #ffffff;
              text-decoration: none;
            }
          }
        }
      }
    }
    .side-groups{
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px 20px;

      .group{
        margin-bottom: 40px;
        
        a{
          color: #ffffff;
          text-decoration: none;

          .group__group-name{
            font-size: 15px;
            margin-bottom: 5px;
          }

          .group__message-preview{
            font-size: 11px;
          }
        }
      }
    }
  }
  
  .main-chat {
    background-color: #ffffff;
    width: calc(100% - 300px);

    .main-header{
      background-color: #fff;
      height: 100px;
      border-bottom: 1px solid #eeeeee;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;

      &__left-box{
        margin-top: 35px;

        &__group{
          margin-bottom: 15px;
          font-size: 20px;
          color: #333333;
        }

        &__group__member-list{
          font-size: 12px;
          color: #999999;
          display: flex;

          &__member{
          }
        }
      } 

      &__edit-btn{
        margin-top: 28px;
        padding: 0 20px;
        text-align: center;
        border :solid 1px #38aef0;
        color: #38aef0;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
      }
    }

    .main-message-list{
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 35px 40px;

      &__content{
        padding-bottom: 46px;

        &__history{
          display: flex;
          margin-bottom: 12px;

          &__sender{
            color: #333333;
            font-size: 16px;
            font-weight: bold;
          }

          &__date{
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
            display: flex;
            align-items: center;
          }
        }

        &__text{
          color: #434a54;
          font-size: 14px;
        }
      }
    }

    .main-message-form{
      background-color: #d2d2d2;
      height: 90px;
      padding: 10px 40px;
      display: flex;

      &__new-message{
        display: flex;
        line-height: 50px;
        width: 100%;
        align-items: center;

        &__input-box{
          position: relative;
          width: 100%;

          &__type-text{
            padding: 0 10px;
            height: 50px;
            width: 100%;
            align-items: center;
          }

          &__image{
            position: absolute;
            top: 0;
            right: 10px;
            cursor: pointer;

            .hide{
              display: none;
            }
            a{
      
              
            }
          }
        }

        .submit-btn{
          margin-left: 15px;
          height: 50px;
          cursor: pointer;
          background-color: #38aef0;
          color: #ffffff;
          width: 100px;
        }

      }
    
    }
  }
}